
/* Global styles */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgb(146, 171, 206); /* Solid purple background */
    color: rgb(7, 7, 7); /* Ensures text is readable */
    }


h1 {
    text-align: left;  /* Ensures the header is on the left */
}

textarea {
    width: 100%;   /* Ensures the textarea is the same width as the note-form */
    padding: 10px;
    box-sizing: border-box;
    resize: vertical;
}


.note-form {
    width: fit-content;  /* Ensures the note-form is also the same width as the text-area */
    padding: 10px;
    background-color: #989b98;
    color: rgb(9, 9, 9);
    border: 1px solid #000000;
    border-radius: 5px;
}


#save-btn {
    width: 100%;
    padding: 10px;
    background-color: #7ad778;
    color: rgb(9, 9, 9);
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }

#save-btn:hover {
    background-color: #66c766; /* Slightly darker green on hover */
}

/* Error Message Styles */
.error-message {
    color: red;
    font-size: 0.875em;
    display: none;
}

/* Mobile Responsiveness */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    form {
        max-width: 100%;
    }
}